/* styles.css */

.odd {
    background-color: red;
    font-family: "Verdana", dejavu sans, sans-serif;
}

#number2 {
    color: blue;
    font-size: 36px;
}

#number4 {
    background-color: green;
    font-size: 24px;
    font-weight: bold;
}